.tours {
    padding-top: 110px;
    height: 500px;
    width: 1024px;
    background-size: cover;
    background-image: url('../../assets/Фон.png');
    color: #FFFFFF;
  }

.data__goods {
    display: flex;
  
  }
  
  .cart {
    border: 1px solid black;
    margin: 5px 5px 5px 5px;
  }