.tours {
    padding-top: 110px;
    width: 1024px;
    background-size: cover;
    background: linear-gradient(180deg, #98AA9A -13.27%, #668174 75.65%);
    color: #FFFFFF;

    .tours__title {
      font-family: Inter;
      font-size: 40px;
      font-weight: 700;
      line-height: 48.41px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin-top: 30px;
      margin-bottom: 36px;
    }
    
  }

.data__buttons {
  margin-top: 30px;
  margin-left: 20px;

  .select_type_goods,.select_type_filter,.select_type_sort {
    border-radius: 25px;
    color: #FFFFFF;
    width: 184px;
    height: 36px;
    background: #5E7563;
    margin-right: 34px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: none;
  }

  
}

.data__goods {
    display: flex;
    flex-wrap: wrap;
    padding: 33px 120px 20px 120px;
  }
  
  .cart {
    margin: 10px;

    .cart_title {
      width: 235px;
      margin-top: 20px;
      background: #D9D9D982;
      font-family: Inter;
      font-size: 20px;
      font-weight: 700;
      line-height: 38.73px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      hyphens: manual;
    }

    .cart_subtitle {
      font-family: Inter;
      font-size: 20px;
      font-weight: 700;
      line-height: 24.2px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
  }
