@import "./sass/base/normalize";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.nav {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

//Header

.header {
  background: #546055B2;
  position: absolute;
  width: 1024px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  a {
    font-family: Inter;
    font-size: 22px;
    font-weight: 800;
    text-align: left;
    text-decoration: none;
    color: #FFFFFF;
  }

  h3 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: center;
    color: #FFFFFF;
    opacity: 85%;
  }
  .first {
    text-align: left;
    margin-left: 6px;
  }
  .second {
    margin-left: 50px;

    display: inline;
  }

  .third {
    margin-left: 78px;

  }

  .header_profile {
    margin-right: 25px;
    opacity: 100%;

  }

  .header_tours {
    margin-right: 43px;
    margin-left: 79px;
    opacity: 85%;
  }
}



//MainPage

.main_pages {
  width: 1024px;

  .mainPage_title {
    padding-top: 232px;
    font-family: Inter;
    font-size: 128px;
    font-weight: 600;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    ;
  }

  .mainPage_subtitle {
    font-family: Inter;
    font-size: 32px;
    font-style: italic;
    font-weight: 200;
    text-align: center;
    margin-top: 154px;
    width: 516px;
    height: 116px;
    margin-left: 275px;
    color: #FFFFFF;
  }
}
.mainImg {
  background-image: url('./assets/Фон.png');
  background-size: cover;
  background-position: center;
  height: 810px;
}


footer {
  border: 1px solid gray ;
  height: 301px;
  color: #567B69;
  width: 1024px;
  .infoDiv {
    display: flex;
    justify-content: space-between;
  }
  .footer_title {
    font-family: Inter;
    margin-top: 18px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    margin-left: 413px;
  }
  .Info {
    margin-left: 30px;
  }

  .Info,.Info2 {
    font-family: Inter;
    font-weight: 400;
    text-align: center;
    margin-top: 67px;
  }
  .phoneNumber,.Email,.Adress {
    display: flex;
    align-items: center;
  }

  .phoneNumber {
    margin-bottom: 28px;
  }
  .Email {
    height: 30px;
  }
  .Adress {
    margin-bottom: 48px;
    margin-top: 28px;
    .footer_Adress {
      width: 296px;
      height: 54px;
      text-align: left;
    }
  }
  
  .Info h3 {
    margin-left: 3px;
  }
  
  .Info2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .links {
      display: flex;
      margin-right: 93px;
      img {
        margin-right: 29px;
      }

      .vk {
        margin-right: 0;
      }
    }

    .footer_logo {
      width: 128px;
      height: 155px;
      margin-right: 105px;
      

    }
    a {
      margin-bottom: 25px;
      text-align: right;
      text-decoration: none;
      color: #FFFFFF;
      font-family: "IBM Plex Sans";
      font-size: 16px;
      font-weight: 600;
    }

    h3 {
      font-family: "IBM Plex Sans";
      font-size: 16px;
      font-weight: 600;
      line-height: 40px;
      text-align: center;
    }
  }
  
}

